<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title><%=title%></title>
        <script src="/js/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function(){
                $("#select option").on("click", function(){
                    alert('It works');
                });
            });
        </script>

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NCCU course system</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/curriculum">Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">All courses</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Course condition</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
        <!--<h1>Welcome to <%=title%></h1>-->
        <!--<%for(let i=0;i<nav.length;i++){%>-->
        <!--<li>-->
            <!--<a href="<%=nav[i].link%>"><%=nav[i].title%></a>-->
        <!--</li>-->
        <!--<%}%>-->


<!--        <form name="queryCourseForm" id="queryCourseForm" action="/course" method="post">
            <%for(let i=0; i<college.length; i++){%>
                <select id="academySelect" onchange="show()">
                    <%for(let j=0; j<college[i].length; j++){%>
                        <option value="<%=college[i][j]%>"><%=college[i][j]%></option>
                    <%}%>
                </select>
            <%}%>
        </form>-->
        
        <form name="queryCourseForm" id="queryCourseForm" action="/course" method="post">
            <select name="academy" id="academySelect" onchange="showDegree()">
                <option value="none" name="academy" id="academy">-</option>
                <option value="literature" name="academy" id="academy">文學院</option>
                <option value="science" name="academy" id="academy">理學院</option>
                <option value="society" name="academy" id="academy">社科院</option>
                <option value="law" name="academy" id="academy">法學院</option>
                <option value="commerce" name="academy" id="academy">商學院</option>
                <option value="foreign" name="academy" id="academy">外文學院</option>
                <option value="broadcast" name="academy" id="academy">傳播學院</option>
                <option value="international" name="academy" id="academy">國際學院</option>
                <option value="education" name="academy" id="academy">教育學院</option>
            </select>
            <input type="submit" value="query">
        </form>
 
        <script>
            const college = {
                '文學院': {
                    '學士班': ['中文系', '歷史系', '哲學系'], 
                    '碩士班': ['圖資所', '宗教所', '台史所', '台文所'],
                    '博士班': ['華文教學博士']
                },
                '理學院': {
                    '學士班': ['心理系', '應數系', '資科系'], 
                    '碩士班': ['神經所', '應物所', '資科所'],
                    '博士班': ['社群與人智博士']
                }
            };
            function showDegree(){
                $("#queryCourseForm").append('<select name="degree" id="degreeSelect" onchange="showDepartment()">\
                <option value="none" name="degree" id="degree">-</option>\
                <option value="bachelor" name="degree" id="degree">學士班</option>\
                <option value="master" name="degree" id="degree">碩士班</option>\
                <option value="doctor" name="degree" id="degree">博士班</option>\
                </select>');
            }
            function showDepartment(){
                switch($("#academySelect").val()){
                    case 'literature':
                        showDepartmentLiterature();
                        break;
                    case 'science':
                        showDepartmentScience();
                        break;
                    default:
                        alert('Other academy no department filled in yet');
                        break;
                }
            }
            function showDepartmentLiterature(){
                switch( $("#degreeSelect").val() ){
                    case 'bachelor':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="chinese" name="department" id="department">中文系</option>\
                        <option value="history" name="department" id="department">歷史系</option>\
                        <option value="philosophy" name="department" id="department">哲學系</option>\
                        </select>');
                        break;
                    case 'master':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="chinese" name="department" id="department">中文所</option>\
                        <option value="libraryInformation" name="department" id="department">圖資所</option>\
                        <option value="religion" name="department" id="department">宗教所</option>\
                        <option value="taiwanHistory" name="department" id="department">台史所</option>\
                        <option value="taiwanCulture" name="department" id="department">台文所</option>\
                        </select>');
                        break;
                    case 'doctor':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="chineseTeaching" name="department" id="department">華文教學博士</option>\
                        </select>');
                        break;
                }

            }
            function showDepartmentScience(){
                switch( $("#degreeSelect").val() ){
                    case 'bachelor':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="psycology" name="department" id="department">心理系</option>\
                        <option value="mathematics" name="department" id="department">應數系</option>\
                        <option value="computerScience" name="department" id="department">資科系</option>\
                        </select>');
                        break;
                    case 'master':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="nerve" name="department" id="department">神經所</option>\
                        <option value="physics" name="department" id="department">應物所</option>\
                        <option value="computerScience" name="department" id="department">資科所</option>\
                        </select>');
                        break;
                    case 'doctor':
                        $("#queryCourseForm").append('<select name="department" id="departmentSelect">\
                        <option value="none" name="department" id="department">-</option>\
                        <option value="societyAI" name="department" id="department">社群與人智博士</option>\
                        </select>');
                        break;
                }

            }

        </script>
    </body>
</html>